.MainContainer {
  display: grid;
  grid-template-columns: 720px 360px;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  justify-content: center;
  grid-template-areas:
    "LeftModule Calendar";
}
.LeftModule{
  grid-area: LeftModule;
}

.TitleModule{
  background-color: #ffffff;
}

.CampSite{
    font-size: 15px;
    padding: 5px;
}
.CampSite body{
  font-size: 10px;
  padding: 2px;
}


.Recommends{
  justify-content: space-evenly ;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 30% 43%;
  grid-template-rows: 1fr;
  gap: 1px 0%;
  grid-template-areas:
    "Recommend Photos Share";
}

.Recommend {
  grid-area: Recommend;
  display: flex;

  height: auto;
  align-self: start;
  margin: 25px 0px 25px 0px;
  color: #40d9ac;
}
.Photos {
  height:auto;
  padding-top: 15px;
  grid-area: Photos;
  align-self: start;
 }
.Share {
  grid-area: Share;

  /*align-self: end;
  margin: 25px; */
  display: grid;
  grid-template-columns: 27% 35% 10%;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    "A B C";
 }

.A{
   grid-area: A;
   border-width: 1px;
   border-style: solid;
   border-color: grey;
 }

.B{
  grid-area: B;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

.C{
  grid-area: C;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

.a{
  padding: 5px;
  height: auto;
  display: flex;
  align-items: center;
 }

 .b{
   color: #ec6e67;
   padding: 5px;
   height: auto;
   display: flex;
   align-items: center;
 }

 .c{
   height: auto;
   padding: 5px;
   margin-bottom: 3px;
   display: flex;
   align-items: center;
 }

 .color{
   color: black;
   display: flex;
   padding-top: 2px;
   padding-left: 5px;
}





.DescriptionModule{
  background-color: lightblue;
  border-top: 1px solid grey;
}

.AmentitiesEssentialsLodging{
  display: grid;
grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  gap: 1px 1%;
  grid-template-areas:
    "Lodging Essentials Amentities";

}
.Lodging {
  grid-area: Lodging;
}
.Essentials {
  grid-area: Essentials;
}
.Amentities {
  grid-area: Amentities;
}
.QuestionsModule{
  background-color: lightseagreen;
}

.Details{
  background-color: lightgreen;
}

.Calendar{
  background-color: burlywood;
  grid-area: Calendar;

}

.nav {
  background-color: #ffffff;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
}

a:link {
  color: black;
}

a:hover {
  color: hotpink;
}

.circle {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;

}

#circle2 {
  background-color: yellow;
 position: relative;
  right: 25px;
}

#circle3 {
 background-color: brown;
 position: relative;
 right: 50px;
}

#circle4 {
 background-color: red;
 position: relative;
 right: 75px;
}

#notCircle {
  border: 1px solid black;
  width: 40px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  position:relative;
  right: 95px;
  bottom: 15px;
  background-color: #ffffff;
  text-align: center;

}


.details{
  float: left;
  width: 20%;
  margin: auto;
}
.checkIn{
  float: left;
  width: 40%;
  margin: auto;
}
.onArrival{
  float: right;
  width: 40%;
  margin: auto;
}

.far fa-thumbs-up{
  color: #40d9ac;

}

