.MainContainer {
  padding-top: 10px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 12px;
  width: 1080px;
  flex-direction: row;
  grid-template-rows: 720px 360px;
  gap: 20px 20px;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  grid-template-areas:
    "LeftModule Calendar";
}
.LeftModule{
  grid-area: LeftModule;
  margin-top: -40px;
  display: grid;
  width: 720px;
  justify-content: space-evenly;
  left: auto;
}

.TitleModule{
  background-color: #ffffff;
  margin: -15px;
}

.CampSite{
    font-size: 15px;
    padding: 5px;
    color: #333333;

}
.CampSite body{
  font-size: 8px;
  padding: 2px;
}


.Recommends{
  justify-content: space-evenly ;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 30% 43%;
  grid-template-rows: 1fr;
  gap: 1px 0%;
  grid-template-areas:
    "Recommend Photos Share";
}

.Recommend {
  grid-area: Recommend;
  display: flex;
  height: auto;
  align-self: start;
  margin: 25px 0px 25px 0px;
  color: #40d9ac;
}

.thumbs{
  font-size: small;
}
.Photos {
  height:auto;
  margin-left: -40px;
  padding-top: 15px;
  grid-area: Photos;
  align-self: start;
 }
.Share {
  grid-area: Share;
  padding-left: 50px;
  margin-bottom: -15px;
  /*align-self: end;
  margin: 25px; */
  display: grid;
  grid-template-columns: 27% 40% 10%;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    "A B C";
 }

.A{
   grid-area: A;
   border-width: 1px;
   border-style: solid;
   border-color: lightgrey;
   background-color: white;
 }

.B{
  grid-area: B;
  border-width: 1px;
  padding-left: 5px;
  border-style: solid;
  border-color: lightgrey;
  background-color: white;
}

.C{
  grid-area: C;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  background-color: white;
}

.upload{
  padding-left: 5px;
}
.a{
  padding: 5px;
  padding-left: 5px;
  height: auto;
  display: flex;
  align-items: center;
 }

 .b{
   color: #ec6e67;
   padding: 5px;
   height: auto;
   display: flex;
   align-items: center;
 }

 .c{
   height: auto;
   padding: 5px;
   margin-bottom: 3px;
   display: flex;
   align-items: center;
 }

 .color{
   color: #333333;
   font-weight: 500;
   display: flex;
   padding-top: 2px;
   padding-left: 5px;
}

.propsItem{
  padding: 3px;
}

.footer{
  position: absolute;

  bottom: 0;
  left: 0;
  color: lightseagreen;
}

.DescriptionModule{
  font-size: 16px;
  line-height: normal;
  background-color: #ffffff;
  border-top: 1px solid lightgrey;
  padding-top: 12px;
  padding-bottom: 12px;
}

.AmentitiesEssentialsLodging{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  gap: 1px 1%;
  grid-template-areas:
    "Lodging Essentials Amentities";

}
.Lodging, .Amentities, .Essentials {
  padding-top: 8px;
  grid-area: Lodging;
  font-size: 16px;
  border: solid;
  border-color: lightgrey;
  border-width: 1px;
  text-align: center;
  height: 300px;
}

.lodging-list, .essentials-list, .amentities-list{
  text-align: justify;
  font-size: 14px;
  margin: 5px 0px 5px 20px;
  position: relative;
  min-height: 250px;

}
.Essentials {
  grid-area: Essentials;
  border: solid;
  border-color: lightgrey;
  border-width: 1px;
}
.Amentities {
  grid-area: Amentities;
  border: solid;
  border-color: lightgrey;
  border-width: 1px;
}
.QuestionsModule{
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 50;
}

.owners{
  color: lightseagreen;
  display: inline-block;

}

.ttDetails{
  border-top: 1px solid lightgrey;
  background-color: #ffffff;
}

h1{
  font-size: 28px;
  margin-bottom: 1px;
  margin-top: 1px;
  display: flex;
}


.nearby{
  font-size: 12px;
  padding-top: 5px;
  padding-left: 5px;
}

.nav {
  background-color: #ffffff;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-top: 0px;
}

.nav li {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
}

a:link {
  color: black;
}

a:hover {
  color: hotpink;
}

.circle {
  border: 1px solid lightgrey;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;

}

#circle2 {
  background-color: yellow;
 position: relative;
  right: 25px;
}

#circle3 {
 background-color: brown;
 position: relative;
 right: 50px;
}

#circle4 {
 background-color: red;
 position: relative;
 right: 75px;
}

#notCircle {
  border: 1px solid lightgrey;
  width: 40px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  position:relative;
  right: 95px;
  bottom: 15px;
  background-color: #ffffff;
  text-align: center;

}


.ttdetails{
  padding-top: 15px;
  float: left;
  width: 20%;
  margin: auto;
  font-size: 14px;
}
.checkIn{
  padding-top: 8px;
  float: left;
  width: 40%;
  margin: auto;
}
.onArrival{
  padding-top: 8px;
  float: right;
  width: 40%;
  margin: auto;
}

.far fa-thumbs-up{
  color: #40d9ac;
}

.AmentitiesModal,
.EssentialsModal,
.LodgingModal {
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  position:relative;
  align-content: center;
  background: white;
  width: 25%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.closeAmentities,
.closeEssentials,
.closeLodging {
  padding: 0px;
  font-size: 8px;
  text-align: start;
}

.smolModalItem {
  font-size: 20px;
  padding: 15px;
  margin: 25px;
  border: solid 1px lightgrey;
}

.modal {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:relative;
  background: white;
  width: 25%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 15% 15% 5% 20% 10% 5%;
  gap: 1px 5px;
  grid-template-areas:
    "Welcome"
    "Apple"
    "Facebook"
    "Or"
    "SignIn"
    "SignUp"
    "ttclose";
}
.Calendar {
  grid-area: Calendar;
  height: 900px;
  width: 360px;
  justify-content: space-evenly;
  display: flex;
  grid-template-rows: "smolCalendar";
}
.smolCalendar{
  border: 1px solid lightgrey;
  grid-area: smolCalendar;
  position:sticky;
  background: #ffffff;
  height: 20%;
  top: 0;
  display: grid;
  padding-bottom: 10px;
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 35% 15%;
  gap: 1px 0px;
  grid-template-areas:
    "Cost"
    "CheckInCheckOutGuests"
    "InstantBook";
}
.Cost {
  grid-area: Cost;
  color: #333;
  font-size: 24px;
  padding-left: 5px;
  height: auto;
  margin-top: 5px;
 }
 .pernight{
  font-size: 10px;
  padding-left: 10px;
 }
.CheckInCheckOutGuests {
  grid-area: CheckInCheckOutGuests;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  gap: 1px 2px;
  grid-template-areas:
    "checkin checkout guests";
 }

 .newCalendar{
  grid-area: CheckInCheckOutGuests;
  height: auto;
  align-items: center;
  display: grid;
  position: sticky;
  background: #ffffff;
  height: 30%;
  top: 0;
 }

.checkin:hover,
.checkout:hover,
.plus:hover,
.minus:hover {
  background-color: #40d9ac;
  color: white;
}

.checkin {
  grid-area: checkin;
  padding: 10px;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
  align-content: center;
  font-size: 12px;
  justify-content: center;
  padding-left: 10px;

 }
.checkout {
  grid-area: checkout;
  padding: 10px;
  border: solid 1px lightgrey;
  align-content: center;
  font-size: 12px;
  justify-content: center;
  padding-left: 10px;

 }
.guests {
  grid-area: guests;
  padding: 6.5px;
  border: solid 1px lightgrey;
  align-content: center;
  font-size: 12px;
  justify-content: center;
  padding-left: 10px;

 }
.InstantBook {
  grid-area: InstantBook;
  border: solid 1px lightgrey;
  text-align: center;
  margin: 15px;
  padding: 10px 15px;
  font-size: larger;
  height: fit-content;
  color: #ffffff;
  background-color: #40d9ac;
 }

 .InstantBook:hover{
   color: #40d9ac;
   background-color: white;
   border: solid 1px #40d9ac;
 }

.Welcome {
  grid-area: Welcome;
  padding: 15px;
  text-align: center;
 }
.Apple {
  grid-area: Apple;
 }

 .smolApple{
  justify-content: center ;
  display: flex;
  text-align: center;
  margin: 15px 10px 15px 10px;
  padding: 15px;
  background-color: black;
  color: white;
 }
.Facebook {
  grid-area: Facebook;
 }
.smolFacebook {
  justify-content: center ;
  display: flex;
  text-align: center;
  margin: 15px 10px 15px 10px;  padding: 15px;
  background-color: #3b5998;
  color: white;
}
.SignIn {
  grid-area: SignIn;

 }
 .smolSignIn {
  justify-content: center ;
  display: flex;
  margin: 20px 10px 1px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #40d9ac;
  color: white;
 }

 .SignUp {
  justify-content: center;
  display: flex;
   grid-area: SignUp;
   margin: 15px 10px 15px 10px;
   text-align: center;
   background-color: #f9f9f9;
   color: #333333;
 }

 .Or{
   justify-content: space-evenly ;
   display: flex;
   grid-area: Or;
   margin: 5px 10px 5px 10px;
   color: lightgrey;
   text-align: center;
 }

.display-block {
  display: block;

}

.display-none {
  display: none;
}

.ttclose {
  grid-area: ttclose;
  justify-content: space-evenly ;
  display: flex;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ttclose:hover,
.ttclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.closeAmentities:hover,
.closeAmentities:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.owners:hover{
  text-decoration: underline;

}


@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


.react-calendar{
  width: 360px;
}


.react-calendar__navigation__arrow,  .react-calendar__navigation__prev2-button {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: white;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    appearance: none;
    color: #333;
    border: 1px solid;
}

.react-calendar__navigation__label{
  appearance: button;
  flex-grow: 1;
    color: #333;
    background-color: white;
    border: 1px solid;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
}

.react-calendar__month-view__days{
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  border: 1px solid #40d9ac;
}

.react-calendar__month-view__weekdays{
  display: flex;
  text-align: -webkit-center;
  background: #40d9ac;

}

.react-calendar__month-view__weekdays__weekday{
  flex-basis: 14.2857%;
  max-width: 14.2857%;
  overflow: hidden;
  font-size: 15px;
  color: white;
}

.react-calendar__tile,
.react-calendar__month-view__days__day,
.react-calendar__month-view__days__day--neighboringMonth {
  appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    flex-basis: 14.2857%;
    max-width: 14.2857%;
    overflow: hidden;
    border-bottom: solid 1px #40d9ac;
    border-right: solid 1px #40d9ac;
    color: #333;
    background: white;
    border: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
}

.react-calendar__tile:hover{
  background-color: #4199ff;
  color: white;
}


.number{
  width: 25%;
  font-size: 12px;
}

.plus,
.minus{
  font-size: small;
  background-color: white;
  border: none;
}

ul{
  list-style: none;
}

.checkmark{
  display: flex;
  color: #4199ff;
  font-size: 18px;
  margin-bottom: 5px;
}

.para{
  color: #972985;
  background-color: #f3e4ef;
  padding: 10px;
  margin-bottom: 10px;
}

a{
  display:flex;
}

.sharetool {
  padding-top: 10px;
  line-height: 3;
  max-width: -webkit-fill-available;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 250px;
  flex-direction: row;
  grid-template-rows: 125px 125px;
  gap: 10px 10px;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  grid-template-areas:
    "leftsharetool rightsharetool";
}

.leftsharetool {
  grid-area: leftsharetool;
  display: flex;
  margin-left: -50px;
}

.rightsharetool {
  grid-area: rightsharetool;
  display: flex;
}

